* {
    font-style: normal;
}

.flex {
    display: flex;
}

.pattern-left {
    position: absolute;
    left: 0px;
    margin-top: 628px;
    z-index: -1;
}

.pattern-right {
    position: absolute;
    right: 0px;
    margin-top: 2547px;
    z-index: -1;
}

.end-page {
    margin-top: 160px;
    width: 100%;
}