.intro {
  width: 50%;
}

.intro__introduce {
  width: 445px;
  height: 200px;

  font-weight: bold;
  font-size: 36px;
  line-height: 125%;
  letter-spacing: -0.01em;
  color: #172B4D;
}

.intro__conclusion {
  display: block;
  margin-top: 20px;
}

.intro__join-us {
  display: flex;
  box-sizing: border-box;
  background: #8A4C51;
  width: 188px;
  height: 52px;
  margin-top: 72px;
  padding: 16px 0px 14px 40px;

  font-weight: bold;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
}

.intro__join-us-arrow {
  margin-left: 20px;
}