.invitation--card {
  margin-left: 8.33%;
  margin-right: 8.33%;
  background: #F8F9FA;
  text-align: center;
}

.invitation--pattern-left {
  margin-top: 65px;
}

.invitation--pattern {
  position: absolute;
  z-index: -1;
}

.invitation--card--intro {
  margin-top: 45px;
  font-weight: bold;
  font-style: normal;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.1em;

  color: #8A4C51;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.invitation--card--detail {
  margin-top: 55px;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.01em;
  color: #8A4C51;
  opacity: 0.9;
}

.invitation--card--detail > input {
  text-align: center;
  text-decoration: none;
  background: unset;
  border: none;
  border-bottom: 1px solid #8A4C51;
  outline: none;

  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.01em;
  color: #8A4C51;
  opacity: 0.3;
  width: 220px;
  margin-bottom: 8px;
}

.invitation--card--detail > input::placeholder {
  color: #8A4C51;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.01em;
}

.invitation--card--choice {
  margin-top: 55px;
}