.carousel {
  width: 50%;
  display: flex;
}

.carousel__indicator-list {
  list-style-type: none;
  padding: 0px;
  margin: 0px 0px 0px 7px;
}

.carousel__indicator {
  margin-top: 345px;
  flex-shrink: 0;
}

.carousel__counter {
  display: inline-block;
  transform: rotate(-90deg);
  transform-origin: top left;

  font-weight: bold;
  font-size: 12px;
  line-height: 140%;
  letter-spacing: 0.08em;
  color: #172b4d;
}

.carousel__counter-total {
  opacity: 0.6;
}

.carousel__indicator-element {
  cursor: pointer;
  width: 2px;
  height: 35px;
  background: #344563;
  opacity: 0.1;
  border-radius: 4px;
}

.carousel__indicator-element--active {
  opacity: unset;
}

.carousel__arrow {
  margin-top: 52px;
}

.carousel__arrow {
  display: block;
  border: 0px;
  padding: 0px;
  cursor: pointer;
  outline: none;
}

.carousel__arrow--down {
  margin-top: 40.5px;
}

.carousel__image {
  height: 609px;
  margin-top: 25px;
}