.sidebar {
    padding-left: 20.5px;
    width: 144.5px;
    flex-shrink: 0;
}

.sidebar > ul {
    list-style-type: none;
    padding-left: 0px;
    margin-top: 38px;
}

ul > li {
    font-size: 10px;
    line-height: 16px;
    font-weight: 500;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-top: 32px;
}

.bold {
    font-weight: bold;
}